# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# --- Pruebas y Cobertura (Pytest) ---
.pytest_cache/
.htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
nosetests.xml
htmlcov/

# --- IDEs y Editores ---
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Datos Locales del Proyecto ---
# Dejamos fuera el archivo donde el Proxy guarda el JSON local
# para que cada entorno genere su propia caché limpia.
local_cache.json